* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* movile responsive*/
/* main*/
/* Footer y header*/
/*modelos*/
/* sobre nosotros*/
/*contactanos*/
/*autos*/
* {
  margin: 0;
  padding: 0;
  font-family: bebas neue;
  color: white;
}

.main-index {
  overflow: scroll;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}

.main-grid {
  background-color: none;
  display: flex;
}

.aside {
  background-color: none;
  width: 20%;
}

.article-aside {
  margin-top: 5px;
  height: 40rem;
  background-color: none;
  overflow: scroll;
}

.article-aside__h2 {
  font-size: 30px;
}

.article-aside__p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.p2 {
  font-size: 10px;
  font-size: 1.8vh;
}

.img {
  width: 100%;
  height: 200px;
}

.card-auto {
  border: solid 1px white;
  border-radius: 5px;
  box-shadow: 7px 7px 15px #a21;
  background-color: none;
  margin-top: 3%;
  width: 27%;
  height: 30%;
  transition: height 1s;
  margin-right: 10px;
  margin-left: 10px;
  overflow: scroll;
}
.card-auto:hover {
  height: 45%;
}

.section-img {
  background-color: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: none;
  width: 100%;
}

.img2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-nosotros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 150px;
  margin: 0;
  height: 80vh;
  width: 100vw;
  background-color: black;
}

.main-nosotros__h1 {
  font-family: abyssinica SIL;
  color: #a21;
  padding-left: 27%;
  font-size: 4em;
}

.main-nosotros__container {
  margin-top: 2.8%;
  width: 70vw;
  height: 70vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: none;
  box-shadow: 10px 10px 32px #a21, -10px -10px 32px #a21;
}

.nosotros-h4 {
  font-size: 2em;
  color: #a21;
}

legend {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  border: none;
}

.card {
  color: white;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  width: 300px;
  flex-direction: column;
  gap: 35px;
  border-radius: 15px;
  background: black;
  box-shadow: 16px 16px 32px #a21, -16px -16px 32px #a21;
}

.inputBox {
  position: relative;
  width: 250px;
}
.inputBox input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: white;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transition: 0.1s;
}
.inputBox input:valid ~ span {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px;
  background: #a21;
  letter-spacing: 0.2em;
  color: white;
  border: 2px;
}
.inputBox input:focus ~ span {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px;
  background: #a21;
  letter-spacing: 0.2em;
  color: white;
  border: 2px;
}
.inputBox input:valid {
  border: 2px solid white;
}
.inputBox input:focus {
  border: 2px solid white;
}
.inputBox span {
  margin-top: 5px;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
}

.nashe {
  color: white;
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}

.main-contactanos {
  width: 100%;
  height: 80vh;
}

.img-p {
  font-size: 3vh;
}

.aside-img {
  width: 17vw;
  height: 17vh;
  margin-bottom: 4vh;
  margin-top: 3vh;
  box-shadow: 5px 5px 20px white;
}

.main-mym {
  background-color: black;
  height: 80vh;
}

.nissan-body {
  background-color: black;
  color: white;
}

.nissan-container {
  display: grid;
  grid-template-areas: "principal" "segundo" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 60vh 90vh 10vh;
}

.nissanimg {
  padding: 1%;
  width: 60%;
  height: 100%;
}

.interior {
  grid-area: principal;
  display: flex;
  background-color: none;
  width: 100%;
  height: 100%;
}

.nissan-div {
  padding: 1%;
  height: 250px;
  margin-top: 7%;
  margin-left: 3%;
  margin-right: 3%;
  width: 40%;
}

.nissan-h4 {
  width: 72%;
  padding: 2%;
  background-color: rgb(216, 215, 215);
  color: #000000;
  font-size: 40px;
}

.nissan-p {
  font-family: Abyssinica SIL;
  font-size: 20px;
}

.n-p {
  font-family: Abyssinica SIL;
  font-size: 20px;
}

.n-h4 {
  font-size: 40px;
}

.nissan-motor {
  grid-area: segundo;
  width: 100%;
  background-color: none;
  height: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5%;
}

.div-motor {
  width: 45%;
  height: 100%;
}

.nissan-motor__img {
  width: 100%;
  height: 60%;
}

.div-escape {
  width: 45%;
  height: 100%;
}

.footer-img {
  width: 20px;
  height: 20px;
  margin-left: 3%;
}

.footer-section {
  margin-left: 40%;
  font-size: 1.5em;
}

.footer-logos {
  display: flex;
  margin-left: 40%;
}

.gg-instagram {
  margin-left: 20px;
}
.gg-instagram:hover {
  color: #833ab4;
  color: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
  color: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}

body {
  background-color: black;
}

.gg-twitter:hover {
  color: #00c6ff;
  color: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);
  color: linear-gradient(to bottom, #0072ff, #00c6ff);
}

.enlaces-autos {
  grid-area: footer;
  width: 100%;
  height: 10vh;
}

.icons-ul {
  margin-top: 3%;
  background-color: rgb(216, 215, 215);
  display: flex;
  justify-content: space-around;
  height: 100%;
  list-style: none;
}

.icons {
  margin-top: 10%;
  height: 80%;
  width: 80%;
}

.aston {
  margin-top: 8%;
  height: 70%;
  width: 70%;
}

.modelos-main {
  background: #000000;
  background: linear-gradient(to left, #434343, #000000);
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
}

.pelota1 {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.pelota2 {
  width: 50%;
}

.modelo1 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modelo2 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modelos-img {
  top: 28%;
  left: 10%;
  border-radius: 50%;
  position: relative;
  width: 80%;
  height: 50%;
  transition: border-radius 2s;
}
.modelos-img:hover {
  border-radius: 10%;
}

footer {
  background: #870000;
  background: linear-gradient(to bottom, #190A05, #870000);
  height: 10vh;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: black;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background: #870000;
  background: linear-gradient(to top, #190A05, #870000);
  align-items: center;
  padding-right: 15px;
}

.autongo {
  text-shadow: 2px 2px 4px black;
  align-items: center;
  font-size: 10vh;
}
.autongo:hover {
  color: black;
  text-shadow: 2px 2px 4px white;
}

.logo {
  display: flex;
  align-items: center;
  width: 50%;
}

.logo-img {
  margin-right: 5px;
  height: 70px;
  padding: 0px;
}

.nav-link {
  display: inline-block;
  font-size: 3.4vh;
  padding-right: 20px;
}

.nav-a {
  color: white;
}

.menu-vertical {
  overflow: scroll;
  margin: 0;
  color: white;
  position: absolute;
  display: none;
  list-style: none;
  height: 40%;
  transition: height 1s;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.5);
}
.menu-vertical:hover {
  height: 13rem;
}

.menu-horizontal li:hover .menu-vertical {
  display: block;
}

.sub-li {
  display: inline-block;
  width: 100%;
}

.sub-a {
  width: 100%;
  color: white;
}
.sub-a:hover {
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 429px) {
  .main-index {
    height: 80vh;
    background-color: black;
  }
  .main-grid {
    display: grid;
    grid-template-areas: "arriba" "abajo";
  }
  .section-img {
    grid-area: arriba;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: none;
  }
  .aside {
    grid-area: abajo;
    background-color: none;
    height: 100%;
    width: 100%;
  }
  .article-aside {
    overflow: visible;
    padding-left: 10%;
    margin-top: 5px;
    height: 100%;
    background-color: none;
    flex-direction: row;
    height: 100%;
  }
  .aside-img {
    margin: 1%;
    height: 60%;
    width: 28%;
    box-shadow: 2px 2px 8px white;
  }
  .article-aside__h2 {
    font-size: 30px;
    margin-left: 25%;
  }
  .article-aside__p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .p2 {
    margin-left: 35%;
    font-size: 10px;
  }
  .img {
    width: 100%;
    height: 26vh;
  }
  .card-auto {
    border: solid 1px white;
    border-radius: 5px;
    box-shadow: 7px 7px 15px #a21;
    background-color: none;
    margin-top: 3%;
    width: 43%;
    height: 32%;
    transition: height 1s;
    margin-right: 10px;
    margin-left: 10px;
    overflow: scroll;
  }
  .img-p {
    font-size: 2vh;
  }
  .img2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .logo {
    width: 33%;
  }
  .autongo {
    font-size: 3vh;
  }
  .logo-img {
    width: 25%;
    height: 6vh;
  }
  .nav-link {
    padding-right: 3px;
  }
  .nav-a {
    font-size: 15px;
    width: 100%;
  }
  footer {
    background: #870000;
    background: linear-gradient(to bottom, #190A05, #870000);
    height: 10vh;
  }
  .pelota1 {
    width: 50%;
  }
  .pelota2 {
    width: 50%;
  }
  .modelo1 {
    margin-left: 27%;
    margin-top: 40%;
    width: 70%;
    height: 70%;
  }
  .modelo2 {
    margin-top: 40%;
    width: 70%;
    height: 70%;
  }
  .modelos-img {
    height: 40%;
    width: 100%;
  }
  .menu-vertical {
    font-size: 16px;
    margin: 0;
    height: 150%;
    width: 30%;
  }
  .sub-li {
    width: 100%;
  }
  .footer-section {
    margin-left: 15%;
    font-size: 1.2em;
  }
  .footer-logos {
    margin-left: 15%;
  }
  .gg-instagram {
    margin-left: 20px;
  }
  .main-nosotros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 150px;
    margin: 0;
    height: 80vh;
    width: 100vw;
    background-color: black;
  }
  .main-nosotros__h1 {
    font-family: abyssinica SIL;
    color: #a21;
    padding-left: 0;
    font-size: 40px;
  }
  .main-nosotros__container {
    padding: 4%;
    margin-top: 2.8%;
    width: 90vw;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: none;
    box-shadow: 10px 10px 32px #a21, -10px -10px 32px #a21;
    margin-bottom: 100px;
  }
  .nosotros-h4 {
    font-size: 30px;
    color: #a21;
  }
  .nosotros-p {
    font-size: 12.5px;
  }
  .main-contactanos {
    width: 100%;
    height: 70vh;
  }
  legend {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
  }
  form {
    height: 80vh;
  }
  .container {
    display: flex;
    justify-content: center;
    align-content: center;
    border: none;
  }
  .card {
    padding: 5%;
    color: white;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    width: 300px;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    background: black;
    box-shadow: 16px 16px 32px #a21, -16px -16px 32px #a21;
  }
  .inputBox {
    position: relative;
    width: 250px;
  }
  .inputBox input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: white;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transition: 0.1s;
  }
  .inputBox input:valid ~ span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px;
    background: #a21;
    letter-spacing: 0.2em;
    color: white;
    border: 2px;
  }
  .inputBox input:focus ~ span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px;
    background: #a21;
    letter-spacing: 0.2em;
    color: white;
    border: 2px;
  }
  .inputBox input:valid {
    border: 2px solid white;
  }
  .inputBox input:focus {
    border: 2px solid white;
  }
  .inputBox span {
    margin-top: 5px;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
  }
  .nissanimg {
    height: 47%;
    width: 100%;
  }
  .interior {
    display: flex;
    flex-wrap: wrap;
  }
  .nissan-motor__img {
    margin-top: 20%;
    height: 200px;
  }
  .nissan-h4 {
    padding: 40px;
    width: 200%;
    padding: 2%;
    background-color: rgb(216, 215, 215);
    color: #000000;
    font-size: 30px;
  }
  .nissan-p {
    margin-top: 5%;
    font-family: Abyssinica SIL;
    font-size: 15px;
    width: 330px;
  }
  .n-p {
    margin-top: 5%;
    font-family: Abyssinica SIL;
    font-size: 16px;
  }
  .n-h4 {
    color: #000000;
    background-color: rgb(216, 215, 215);
    margin-top: 3%;
    font-size: 20px;
  }
  .icons {
    width: 90%;
    height: 80%;
  }
  .aston {
    margin-left: 16px;
    width: 70%;
    height: 70%;
  }
}
@media screen and (min-width: 430px) and (max-width: 575px) {
  .logo {
    width: 35%;
  }
  .autongo {
    font-size: 4vh;
  }
  .logo-img {
    width: 25%;
    height: 6vh;
  }
  .nav-link {
    padding-right: 3px;
  }
  .nav-a {
    font-size: 18px;
    width: 100%;
  }
  .pelota1 {
    width: 50%;
  }
  .pelota2 {
    width: 50%;
  }
  .modelo1 {
    margin-left: 30%;
    margin-top: 40%;
    width: 70%;
    height: 70%;
  }
  .modelo2 {
    margin-top: 40%;
    width: 70%;
    height: 70%;
  }
  .modelos-img {
    height: 40%;
    width: 90%;
  }
  .menu-vertical {
    font-size: 18px;
    margin: 0;
    height: 30%;
    width: 20%;
  }
  .menu-vertical:hover {
    height: 8.3rem;
  }
  .sub-li {
    width: 100%;
  }
  .footer-section {
    margin-left: 15%;
    font-size: 1.2em;
  }
  .footer-logos {
    margin-left: 15%;
  }
  .gg-instagram {
    margin-left: 20px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .logo {
    width: 40%;
  }
  .autongo {
    font-size: 4vh;
  }
  .logo-img {
    width: 25%;
    height: 8vh;
  }
  .nav-link {
    padding-right: 6px;
  }
  .nav-a {
    font-size: 22px;
    width: 100%;
  }
  .pelota1 {
    width: 50%;
  }
  .pelota2 {
    width: 50%;
  }
  .modelo1 {
    margin-left: 20%;
    margin-top: 30%;
    width: 70%;
    height: 70%;
  }
  .modelo2 {
    margin-top: 30%;
    width: 70%;
    height: 70%;
  }
  .modelos-img {
    height: 40%;
    width: 100%;
  }
  .menu-vertical {
    font-size: 22px;
    margin: 0;
    height: 40%;
    width: 20%;
  }
  .sub-li {
    width: 100%;
  }
  .footer-section {
    margin-left: 25%;
    font-size: 1.6em;
  }
  .footer-logos {
    margin-left: 25%;
  }
  .gg-instagram {
    margin-left: 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .logo {
    width: 40%;
  }
  .autongo {
    font-size: 5vh;
  }
  .logo-img {
    width: 30%;
    height: 8vh;
  }
  .nav-link {
    padding-right: 6px;
  }
  .nav-a {
    font-size: 30px;
    width: 100%;
  }
  .pelota1 {
    width: 50%;
  }
  .pelota2 {
    width: 50%;
  }
  .modelo1 {
    margin-left: 20%;
    margin-top: 30%;
    width: 70%;
    height: 70%;
  }
  .modelo2 {
    margin-top: 30%;
    width: 70%;
    height: 70%;
  }
  .modelos-img {
    height: 40%;
    width: 100%;
  }
  .menu-vertical {
    font-size: 22px;
    margin: 0;
    height: 40%;
    width: 20%;
  }
  .sub-li {
    width: 100%;
  }
  .footer-section {
    margin-left: 25%;
    font-size: 1.6em;
  }
  .footer-logos {
    margin-left: 25%;
  }
  .gg-instagram {
    margin-left: 20px;
  }
}/*# sourceMappingURL=Style.css.map */